.Logo {
	position: relative;
	bottom: 12px;
}



.Logo img {
	padding: 0 5px;
	width: 45px;
	border-radius: 10px;
	position: relative;
	top: 15px;
}

.header {
	background-color: #282c34;
	min-height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: calc(10px + 2vmin);
	color: white;
}


.current-exchange {
	position: relative;
	right: 4vw;
}


.current__label {
	font-weight: 700;
	margin-right: 1vw;

}

.current__buy {
	color: rgb(102, 102, 196);
	margin-right: 1vw;
}

.current__sale {
	color: crimson;
}

.current-exchange__usd {
	display: flex;
	flex-wrap: wrap;
}

.current-exchange__eur {
	display: flex;
	flex-wrap: wrap;
}

@media(max-width:615px) {
	.Logo__text {
		display: none;
	}
}

@media(max-width:350px) {
	.current-exchange__usd {
	max-width: 120px;
	}
	.current-exchange__eur {
		max-width: 120px;
	}
}